/*This stylesheet contains some custom class rather than Bootstrap*/
		
a.brand img {
	border-radius:50%;
	border:5px solid #fff;
	position:absolute;
}
#profile, #skills, #work, #resume {
	padding:30px 0;
	padding-top: 120px;
	min-height:500px;
}
#profile h2, #skills h2, #work h2, #resume h2 {
	font-weight:normal;
	color: #39D084;
}
/***** Profile *****/
	#profile h1 {
	color:#39d084;
	font-weight: normal;
}
#profile h3 {
	color:#203748;
	font-weight: normal;
}
#profile p {
	color:#203748;
	font-size:18px;
	line-height: 35px;
	margin-top: 30px;
}
#profile .container .span5 {
	padding:40px 0;
}
a.hire-me {
	display: block;
	*display: inline;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;
	background:#11d170;
	color:#fff;
	font-size:26px;
	text-align:center;
	margin:1px 5% 0 5%;
	width: 40%;
	font-family: myFirstFont;
	src: url(sansation_bold.woff);
}

a.hire-me:hover {
	text-decoration:none;
	text-shadow:2px 2px #000;
	}
.social {
	text-align:center;
	padding-bottom:80px;
}
ul.social-icons {
	margin:20px 0;
}
ul.social-icons li {
	list-style:none;
	display:inline-block;
	margin:10px;
}
ul.social-icons li:first-child {
	margin-left:0;
}
ul.social-icons li a {
	opacity:0.8;
}
ul.social-icons li a:hover {
	opacity:1;
}
/***** Skills *****/
#skills .span3 {
	width:235px;
	overflow: hidden;
}
#skills .span5 {
	text-align:left;
	padding:47px 0;
}
#skills .ps, #skills .ai, #skills .html, #skills .css {
	padding:25px;
	width:100px;
	height:100px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align:center;
	border:8px solid #203748;
	float:right;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#skills .ps {
	background:#30a5dc;
}
#skills .ai {
	background:#ee742b;
}
#skills .html {
	background:#f04949;
}
#skills .css {
	background:#39d084;
}
#skills .ps:hover, #skills .ai:hover, #skills .html:hover, #skills .css:hover {
	border:8px solid #fff;
}
#skills .ps h3, #skills .ai h3, #skills .html h3, #skills .css h3 {
	color:#fff;
	font-size: 3.4em;
	font-weight: normal;
	line-height: 80px;
}
#skills .html h3, #skills .css h3 {
	font-size: 2.2em;
}
.expand-bg {
	background: none repeat scroll 0 0 #EAEDF2;
	border-radius:16px;
	height: 16px;
	margin-bottom: 15px;
	position: relative;
	padding: 0 2px;
}
.expand {
	border-radius: 10px;
	height: 4px;
	margin: 2px 0;
	padding: 4px 0 4px 5px;
	position: absolute;
}
#skills .span5 h3 {
	font-size: 18.5px;
	line-height: 15px;
	font-weight:normal;
	text-transform:uppercase;
}
#skills .span5 h3 span {
	float:right;
}
.ps2 {
	width:90%;
	background:#30a5dc;
	-moz-animation:html5 2s ease-out;
	-webkit-animation:html5 2s ease-out;
}
.ai2 {
	width:80%;
	background:#ee742b;
	-moz-animation:css3 2s ease-out;
	-webkit-animation:css3 2s ease-out;
}
.html2 {
	width:75%;
	background:#f04949;
	-moz-animation:jquery 2s ease-out;
	-webkit-animation:jquery 2s ease-out;
}
.css2 {
	width:85%;
	background:#39d084;
	-moz-animation:photoshop 2s ease-out;
	-webkit-animation:photoshop 2s ease-out;
}
 @-moz-keyframes ps2 {
0% {
width:0px;
}
100% {
width:90%;
}
}
@-moz-keyframes ai2 {
0% {
width:0px;
}
100% {
width:80%;
}
}
@-moz-keyframes html2 {
0% {
width:0px;
}
100% {
width:75%;
}
}
@-moz-keyframes css2 {
0% {
width:0px;
}
100% {
width:85%;
}
}
 @-webkit-keyframes ps2 {
0% {
width:0px;
}
100% {
width:90%;
}
}
@-webkit-keyframes ai {
0% {
width:0px;
}
100% {
width:80%;
}
}
@-webkit-keyframes html {
0% {
width:0px;
}
100% {
width:75%;
}
}
@-webkit-keyframes css {
0% {
width:0px;
}
100% {
width:85%;
}
}
/**** Work container *****/
ul.work-images li {
	list-style:none;
	display:inline-block;
	margin: 8px 10px;
 background:
}
ul.work-images li:first-child {
	margin-left:0;
}
ul.work-images li div {
	background:url(../img/eye.png) 50% 50% no-repeat;
	background-color: #f04949;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
ul.work-images li img {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
ul.work-images li img:hover {
	opacity:0.1;
}
/***** Resume container *****/
#resume h3 {
	margin:60px 0;
}
#resume .btn-center {
	text-align:center;
}
.footer {
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	max-width: auto;
	background-image: url(../images/footer1.png);
	background-repeat:no-repeat;
	background-position:10% 80%;
	background-size: cover !important;
    -webkit-background-size: cover!important;
	position: relavtive;
}
.footer p {
	margin:20px 0;
}
.footer p a {
	color:#fff;
	text-decoration:none;
}
.footer p a:hover {
	color:#39d084;
}

 .header {
    font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	max-width: auto;
	background-image: url(../images/header1.png);
	background-repeat:no-repeat;
	background-position:50% 20%;
	background-size: cover !important;
    -webkit-background-size: cover!important;
	position: relavtive;
	width: 100%;
}

@-webkit-keyframes all
    {
    0%   {-webkit-transform: rotateY(0deg);}
    100% {-webkit-transform: rotateY(720deg);}
    }


.body_consist {
    font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	max-width: 100%;
	background-image: url(../images/footer.png);
	background-repeat:no-repeat;
	background-size: cover !important;
    -webkit-background-size: cover!important;
	position: relavtive;
	
	
}
.font_style{
	font-family: myFirstFont;
	font-size:30px;
	src: url(sansation_bold.woff);
    font-weight: bold;
	padding-top:18px;
	margin-left:10%;
	background: -webkit-linear-gradient(#000, #fff);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
	
	
	}
	
.title_style{
	font-family: myFirstFont;
	font-size:30px;
	src: url(sansation_bold.woff);
    font-weight: bold;
	/*padding-top:18px;
	margin-left:10%;*/

	}
	
	
	


.btn {
	border: none;
	font-family: myFirstFont;
	font-size:15px;
    src: url(sansation_bold.woff);
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px 0px 0px;
	display: inline-block;
	margin: 2% 1% 1% 0%;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius:10px 0px 10px 0px;
	
}
.btn-3 {
	background: #70bfed;
	border:2px solid #lightskyblue;
}

.btn-3:hover {
	background: #4aa9e0;
	
}



.btn-3:active {
	background: #4aa9e0;
	top: 2px;
}
.btn-3:before {
	position: absolute;
	height: 100%;
	left:-10px;
	top: 0;
	line-height: 10;
	font-size: 350%;
	width: 20%;
	border-radius:10px 0px 00px 0px;
	
}
.btn-3a {
	padding: 15px 60px 15px 78px;
}


.btn-3a:before {
	background: rgba(0,0,0,0.10);
}

.icon-cart1:before {
    content: "\e007";
	background-image: url(../images/refresh-1.png);
	background-size: 50px 50px;
	background-repeat:no-repeat;
	
	
	 
}
.icon-cart2:before {
    content: "\e007";
	background-image: url(../images/match.png);
	background-size: 50px 50px;
	background-repeat:no-repeat;
	
	 
}

.icon-cart3:before {
    content: "\e007";
	background-image: url(../images/result.png);
	background-size: 50px 50px;
	background-repeat:no-repeat;
	
	 
}

.icon-cart4:before {
    content: "\e007";
	background-image: url(../images/back.png);
	background-size: 50px 50px;
	background-repeat:no-repeat;
	
	 
}


.btn-3c {
	padding: 10px 10px 0px 0px;
	border-radius: 10px 0px 10px 0px;
	font-family: myFirstFont;
	font-size:25px;
    color: white;
	margin-bottom:3px;
}

.btn-3c:active {
	box-shadow: 0 3px #dc7801;
	}

.btn-3c:before {
	height: 60px;

	width: 100%;
	line-height: 60px;
	background: #fff;
	color: #f29e0d;
	border-radius: 10px 10px 0 0;
}

.btn-3c:active:before {
	color: #f58500;
}









.img_style{
	margin-left:40%;
	margin-top:-1%;
	width:40px;
	height:35px;
	-webkit-animation: all 4s linear infinite;

}

.logo_img{
	width:40px;
	height:35px;
}

.inner-image_1
{
	position: relative;
	left: 35px;
	height:25px;
	width:25px;
	-webkit-animation: all 4s linear infinite;

	
}

.inner-image_2
{
	position: relative;
	left: 38px;
	height:25px;
	width:25px;
	-webkit-animation: all 4s linear infinite;
}

.moveing
{
margin-right:0px;
}





@media(min-width : 220px)
{
.btn-3a {
	padding: 15px 50px 15px 78px;
	
}

.font_style{
		font-size:25px;
		}
		
		
}

@media(min-width : 240px)
{
.btn-3a {
	padding: 15px 40px 15px 78px;
	
}
.font_style{
		font-size:27px;
		}
		
		.moveing
{
margin-left:8px;
}

}

@media(min-width : 250px)
{
		.moveing
{
margin-left:10px;
}
}

@media(min-width : 260px)
{
.btn-3a {
	padding: 15px 25px 15px 78px;
	
}
.font_style{
		font-size:29px;
		}
		
	.moveing
{
margin-left:120x;
}

}

@media(min-width : 310px)
{
.btn-3a {
	padding: 15px 20px 15px 78px;
	
}

.img_style{
	margin-left:1%;
	margin-top:9%;
	position:absolute;

}

.font_style{
	font-size:30px;
	margin-left:20%
	
	}
}

@media(min-width : 330px)
{

.img_style{
	margin-left:6%;
	margin-top:9%;
	
	

}
.font_style{
		margin-left:25%
		}
}

@media(min-width : 360px)
{

.img_style{
	margin-left:14%;
	margin-top:7%;


}

.font_style{
		margin-left:30%
		}
}

@media(min-width : 400px)
{

.img_style{
	margin-left:15%;
	margin-top:6%;


}
}
@media(min-width : 430px)
{

.img_style{
	margin-left:15%;
	margin-top:6%;


}
}
@media(min-width : 460px)
{

.img_style{
	margin-left:15%;
	margin-top:6%;


}
}
@media(min-width : 490px)
{

.img_style{
	margin-left:17%;
	margin-top:6%;


}
}
@media(min-width : 510px)
{

.img_style{
	margin-left:18%;
	margin-top:5%;


}
}






